// -----------------------------------------------------------------------------
// This file contains all styles related to nav component.
// -----------------------------------------------------------------------------

/**
* Nav Component
*/
.nav-header {
    @include flex-between;
    text-transform: uppercase;
    width: 100%;
    max-width: 994px;
  
    @media screen and (min-width: $breakpoint-desktop) {
        text-transform: none;
    }
  
    &__nav-link-home,
    &__nav-link-profil,
    &__nav-link-settings,
    &__nav-link-community {
        @include font-right(12px);
        color: $nav-text-color;
        text-decoration: none;
        padding-left: 0.8rem;
  
        @media screen and (min-width: $breakpoint-desktop) {
            @include font-right(24px);
            padding-left: 3.5rem;
        }
  
        &:hover,
        &:focus {
            // text-decoration-line: underline;
            color: $nav-text-hover-color;
        }
    }
}