// -----------------------------------------------------------------------------
// This file contains all styles related to the Profile page.
// -----------------------------------------------------------------------------

/**
* Profile page
*/
.profile {
	width: 830px;
	margin: auto;

	@include desktop-breakpoint {
		width: fit-content;
		padding-left: 7.3125rem; /* 0 */
	}
	&-title {
		font-size: 3rem;
		font-weight: 500;
	}
	&-firstName {
		color: #ff0101;
	}
	&-subtitle {
		margin: 0;
		margin-top: 2.5625rem;
		margin-bottom: 4.8125rem;
		font-size: 1.125rem;
	}
}

.dashboard {
	display: flex;
	flex-direction: column;

	@include desktop-breakpoint {
		flex-direction: row;
	}

	&-charts-wrapper {
		width: 835px;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		order: 2;
		
		@include desktop-breakpoint {
			order: 1;
		}
	}
	&-aside {
		// width: 835px;
		display: flex;
		justify-content: space-between;
		order: 1;

		@include desktop-breakpoint {
			width: 258px;
			display: block;
			order: 2;
			margin-left: 1.9375rem;
		}
	}
}

.activity-charts {
	max-height: 320px;
}

.small-card-wrapper {
	max-height: 263px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2rem;

	@include desktop-breakpoint {
		margin-bottom: 0;
	}
}