// -----------------------------------------------------------------------------
// This file contains all variables.
// -----------------------------------------------------------------------------
$breakpoints: (
    small: 320px,
    medium: 768px,
    large: 1024px,
    desktop: 1440px
);

$breakpoint-desktop: 769px;

$wmin: 320px; /* 375px */
$wmax: 768px;